server {
    listen       ${VITE_APP_PORT};
    listen  [::]:${VITE_APP_PORT};

    server_name  localhost;

    root   /usr/share/nginx/html;

    location / {
      try_files $uri $uri/ /index.html;
    }
}
